@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --fuente:'Poppins', sans-serif;
    --color-body: #1e1d2b;
    --color-cards: #ffefe8;
    --color-menu-movil: #2c2b47;
    --color-orange: #ff702a;
}

body {
    background-color: var(--color-body);
    font-family: var(--fuente);
}

.color-orange {
    color: var(--color-orange);
}

.navbar-brand {
    color: var(--color-orange)
}

.navbar-collapse {
    background-color: var(--color-menu-movil);
    
}

.nav-link {
    color: var(--color-cards) !important;
}

.title-section1 {
    font-size: 2.5rem;
}

.bg-orange {
    background-color: #ff702a;
    font-size: .85rem;
}

.padding-section2 {
    padding: 0 3rem;
}

.text-small {
    font-size: .9rem;
}

.width-img-section2 {
    width: 100%;
}

.bg-cards-section3 {
    background-color: var(--color-cards);
}

.text-cards-section3 {
    font-size: 1.2rem;
}

.padding-section4 {
    padding: 0 2.25rem;
}

.padding-footer {
    padding: 1rem 3rem 1.75rem;
}

.list-style-footer {
    list-style: none;
    padding: 0;
}

.circles-footer {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--color-orange);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pointer-event {
    cursor: pointer;
}

.bg-orange-nav {
    background-color: var(--color-orange);
}

/* RESPONSIVE */

@media (max-width: 768px) {

    #div-text-section1 {
        align-items: center !important;
        margin-bottom: 1rem !important;
    }

    #div-text-section2 {
        align-items: center !important;
        margin-bottom: 1rem;
    }
}


@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse{
        justify-content: end;
        background-color: #1e1d2b;
    }

    .navbar-brand {
        padding-left: 3rem;
    }

    #home {
        flex-direction: row !important;
        justify-content: space-evenly !important;
        padding: 0 6rem !important;
    }

    #div-text-section1 {
        align-items: start !important;
    }

    #title-home {
        font-size: 3rem !important;
        letter-spacing: .2rem !important;
    }

    .img-home {
        width: 40% !important;
    }

    #text-home-left {
        text-align: start !important;
    }

    #about {
        flex-direction: row-reverse !important;
        justify-content: space-evenly !important;
        padding: 6rem !important;
    }

    #div-text-section2 {
        align-items: start !important;
        max-width: 300px !important;
    }

    .img-about {
        width: 40% !important;
    }

    #title-about {
        text-align: start !important;
    }

    #text-about {
        text-align: start !important;
    }

    .text-small {
        font-size: 1rem !important;
    }

    #menu {
        padding: 2rem 6rem 4rem !important;
    }

    #div-cards-section3 {
        margin-top: 2rem !important;
        flex-direction: row !important;
    }

    #service {
        padding: 2rem 6rem;
    }

    #div-cards-section4 {
        margin-top: 1rem !important;
        flex-direction: row !important;
    }

    #text-section4 {
        font-size: 1.5rem !important;
    }

    .text-cards-section3 {
        font-size: 1rem;
    }

    .padding-section4 {
        padding: 2rem 5rem 4rem !important;
    }

    #section4-title {
        max-width: 400px !important;
        margin-bottom: 2rem !important;
    }

    #contact {
        padding: 2rem 8rem !important;
    }

    #footer-div {
        flex-direction: row !important;
        justify-content: space-between !important;
    }

    #footer-titles {
        font-size: 1.25rem !important;
    }

    #footer-text {
        font-size: 1rem !important;
    }

    #div-circles {
        align-items: start !important;
    }

    .circles-footer {
        width: 1.5rem !important;
        height: 1.5rem !important;
    }

}